In [25]:
#Sprint_1a_task

### Sprint_1a_task

In [26]:
#1) 123 rəqəmini string/character ə çevirin və tipini yoxlayın.

Number = 123
y = str(Number)
print("Type is :" ,type(y))

Type is : <class 'str'>

In [27]:
#2) 19.99 dəyərini tam ədədə çevirin və nəticəni çap edin.

Number = 19.99
Int_Number = int(Number)
print("Type is :" ,type(Int_Number))
Int_Number

Type is : <class 'int'>

19

In [28]:
#3) "500" dəyərini numericə çevirin və 2-yə bölüb nəticəni çap edin.

Value = "500"
Numeric_value = int(Value)
print(Numeric_value / 2)

250.0

In [29]:
#4) a = 8 və b = 12 yaradın. a < b və a == b şərtlərini yoxlayın, nəticələri çap edin.

a,b = 8,12
print(a<b,a==b)

True False

In [30]:
#5) x = 5, y = 10, z = 15 yaradın. (x < y) and (y < z) şərtini yoxlayın və nəticəni çap edin.

x,y,z = 5,10,15
print(x < y,y < z)

True True

In [31]:
#6) 25-i 4-ə bölün. Tam bölmə, qalıq və adi bölmə nəticələrini çap edin.

Tam_bolme = 25//4
qalıq_bolme = 25%4
adi_bolme = 25/4

print(f"{Tam_bolme}\n{qalıq_bolme}\n{adi_bolme}")

6
1
6.25

In [32]:
#7) 3-ü 4-cü dərəcəyə qaldırın və nəticəni çap edin.

Num = 3**4
Num

81

In [33]:
#8) qiymet = 75.5 yaradın. Onu tam ədədə çevirin və tipini yoxlayın.

qiymet = 75.5
Convert_int = int(qiymet)
print("Type is :" ,type(Convert_int))

Type is : <class 'int'>

In [34]:
#9) n = 20 yaradın. (n > 10) or (n < 5) və (n > 15) and (n < 25) şərtlərini yoxlayın, nəticələri çap edin.

n = 20
print((n > 10) or (n < 5),(n > 15) and (n < 25))

True True

In [36]:
#10) "42.8" dəyərini əvvəl float-a, sonra tam ədədə çevirin və hər addımda tipi yoxlayın.

My_value = "42.8"
Convert_F = float(My_value)
print("Type is :" ,type(Convert_F))
Convert_I = int(Convert_F)
print("Type is :" ,type(Convert_I))

Type is : <class 'float'>
Type is : <class 'int'>

### Sprint_1b_task

In [ ]:
#Sprint_1b_task

In [ ]:
#1) s = "Programming" yaradın. Uzunluğunu və ilk simvolunu çap edin.

s = "Programming"
print(f"Lenght is {len(s)},First letter is {s[0]} ")

Lenght is 11,First letter is P

In [ ]:
#2) s1 = "Hello" və s2 = "World" yaradın. Onları boşluqla birləşdirin və nəticəni çap edin.

s1,s2 = "Hello","World"

Full_world = s1 + " " + s2
Full_world

'Hello World'

In [ ]:
#3) text = "Python" yaradın. Son simvolunu çap edin.

text = "Python"

print(f"Last letter is {text[-1]}")

Last letter is n

In [ ]:
#4) s = "Artificial" yaradın. "Art" hissəsini ilə çıxarın və çap edin.

#"ilə çıxarın" nə deməkdir ? Sual yarımçıq olub

s = "Artificial"
print(s[0:3])

Art

In [ ]:
#5) word = "Code" yaradın. Tərsinə çevirin və nəticəni çap edin.

word = "Code"
print(word[::-1])

edoC

In [ ]:
#6) s = "abcdefgh" yaradın. Hər ikinci simvolu alın və çap edin.

s = "abcdefgh"
print(s[1::2])

bdfh

In [ ]:
#7) text = "data" yaradın. Onu bir sətrlik kodla böyük hərflərə və kiçik hərflərə çevirib çap edin.

text = "data"
print(text.upper(),text.lower())

DATA data

In [ ]:
#8) s = "Python-R-Java" yaradın. "-" ilə ayırın (split("-")) və nəticəni çap edin.

s = "Python-R-Java"
result = s.split("-")
print(result)

['Python', 'R', 'Java']

In [ ]:
#9) ad = "Ayxan" və yaş = 25 yaradın. f-string ilə "Ayxan 25 yaşındadır" çap edin.


ad = "Ayxan"
yaş = 25
print(f"{ad} {yaş} yaşındadır")

Ayxan 25 yaşındadır

In [ ]:
#10) s = "salam-dunya" yaradın. "-"ni boşluqla əvəz edin və nəticəni çap edin.

s = "salam-dunya"
s = s.replace("-", " ")
s

'salam dunya'

### Sprint_2a_task

In [ ]:
#Sprint_2a_task

In [ ]:
#1) 5, 10, 15, 20 rəqəmlərindən ibarət “rəqəmlər” adlı list/vector yaradın

rəqəmlər = [5, 10, 15, 20]
rəqəmlər

[5, 10, 15, 20]

In [ ]:
#2) “rəqəmlər” listinin/vectorunun uzunluğunu tapın

len(rəqəmlər)

4

In [ ]:
#3) “rəqəmlər” listinə/vectoruna 25 elementini əlavə edin

rəqəmlər.append(25)
rəqəmlər

[5, 10, 15, 20, 25, 25]

In [ ]:
#4) “rəqəmlər” listinin/vectorunun 2-ci indeksinə 12 elementini əlavə edin

rəqəmlər.insert(2,12)
rəqəmlər

[5, 10, 12, 15, 20, 25, 25]

In [ ]:
#5) 1, 2, 3 və 4, 5, 6 listlərini/vectorlarını birləşdirin

List_1 = [1, 2, 3]
List_2 = [4, 5, 6]

Full_list = List_1 + List_2
Full_list

[1, 2, 3, 4, 5, 6]

In [ ]:
#6) “rəqəmlər” listindən/vectorundan 2-ci və 3-cü elementləri seçin

rəqəmlər[1:3]

[10, 12]

In [ ]:
#7) “rəqəmlər” listinin/vectorunun ilk elementini 50 ilə əvəz edin 

rəqəmlər[0] = 50
rəqəmlər

[50, 10, 12, 15, 20, 25, 25]

In [ ]:
#8) “rəqəmlər” listində/vectorunda 19 elementinin olub-olmadığını yoxlayın

if 19 in rəqəmlər:
    print(True)
else:
    print(False)

False

In [ ]:
#9) "a", "b", "a", "c" listində/vectorunda "a" elementinin neçə dəfə təkrarlandığını tapın

Letters = ["a", "b", "a", "c"]

Letters.count("a")

2

In [ ]:
#10) "x", "y", "x", "z" listindən/vectorundan "x" elementlərini silin

Letters_2 = ["x", "y", "x", "z"]

while 'x' in Letters_2:
    Letters_2.remove('x')
    
Letters_2

['y', 'z']

In [ ]:
#11) 7, 2, 9, 1 listini/vectorunu azalan sırayla sıralayın

Nums = [7, 2, 9, 1]
sorted_Nums = sorted(Nums, reverse=True)
sorted_Nums

[9, 7, 2, 1]

In [ ]:
#12) “rəqəmlər” listindən/vectorundan 10-dan böyük elementləri seçin

Empty_list = []
i = 0

for i in rəqəmlər:
    if i > 10:
        Empty_list.append(i)

Empty_list

[50, 12, 15, 20, 25, 25]

### Sprint_2b_task

In [ ]:
#Sprint_2b_task

In [ ]:
#1) 10, 20, 30, 40 elementlərindən ibarət s1 adlı series/vector yaradın
import pandas as pd

s1 = pd.Series([10, 20, 30, 40])

s1

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#2) s1-ə 'w', 'x', 'y', 'z' indekslərini təyin edin

#Sual tam aydın olmadı
import pandas as pd

s1.index = ['w', 'x', 'y', 'z']

s1

w    10
x    20
y    30
z    40
dtype: int64

In [ ]:
#3) Python: {'p': 5, 'q': 10, 'r': 15} dictionary-dən s2 adlı Series yaradın

import pandas as pd

Python = {'p': 5, 'q': 10, 'r': 15}
s2 = pd.Series(Python)

s2

p     5
q    10
r    15
dtype: int64

In [ ]:
#4) s2-dən 'q' indeksli elementi seçin

s2["q"]

10

In [ ]:
#5) s1-dən 25-dən böyük elementləri seçin

for i in s1:
    if i > 25:
        print(i)

30
40

In [ ]:
#6) s1-də 20-dən böyük elementləri 10-a bölün 

emp_list = []

for i in s1:
    if i > 20:
        emp_list.append(i/10)

emp_list

[3.0, 4.0]

In [ ]:
#7) ((1, 2), (3, 4)) listindən/vectorundan df1 adlı dataframe yaradın

import pandas as pd

MyList = [(1, 2), (3, 4)]

df1 = pd.DataFrame(MyList)

df1

   0  1
0  1  2
1  3  4

In [ ]:
#8) df1-ə ('r1', 'r2') sətir və ('c1', 'c2') sütun adlarını təyin edin

df1.index = ['r1', 'r2']
df1.columns = ['c1', 'c2']

df1

    c1  c2
r1   1   2
r2   3   4

In [ ]:
#9) Python: {'A': [1, 2], 'B': [3, 4]} dictionary-dən df2 yaradın

Python2 = {'A': [1, 2], 'B': [3, 4]}
df2 = pd.DataFrame( Python2 )
df2

   A  B
0  1  3
1  2  4

In [ ]:
#10) df2-də 'A' sütunu 1-dən böyük olan sətirləri seçin

df2.loc[df2['A'] > 1]

   A  B
1  2  4